[submodule "Assignments/python101_sparsh"]
	path = Assignments/python101_sparsh
	url = https://github.com/sparsh16396/python101_sparsh
[submodule "Assignments/Dharmendra-Python101"]
	path = Assignments/Dharmendra-Python101
	url = https://github.com/Mr-13/Dharmendra_Python101
[submodule "Assignments/Python101_Talib"]
	path = Assignments/Python101_Talib
	url = https://github.com/TalibAlam/Python101_Talib
[submodule "Assignments/utkarsh"]
	path = Assignments/utkarsh
	url = https://github.com/utkars97/utkarsh
[submodule "Assignments/UrshilaRavindran_Python101"]
	path = Assignments/UrshilaRavindran_Python101
	url = https://github.com/urshila19/UrshilaRavindran_Python101
[submodule "Assignments/Bhanu_Python101"]
	path = Assignments/Bhanu_Python101
	url = https://github.com/bpsneta/Bhanu_Python101
[submodule "Assignments/Aman_Agrawal_Python101"]
	path = Assignments/Aman_Agrawal_Python101
	url = https://github.com/aman1097/Aman_Agrawal_Python101
[submodule "Assignments/DollyTyagi_Python101"]
	path = Assignments/DollyTyagi_Python101
	url = https://github.com/DollyTyagi/DollyTyagi_Python101
[submodule "Assignments/AbhishekPandey_Python101"]
	path = Assignments/AbhishekPandey_Python101
	url = https://github.com/abesit290/AbhishekPandey_Python101
[submodule "Assignments/PYTHON101-VISHWAJEET"]
	path = Assignments/PYTHON101-VISHWAJEET
	url = https://github.com/vishwajeet1/PYTHON101-VISHWAJEET
[submodule "Assignments/VineetSingh_Python101"]
	path = Assignments/VineetSingh_Python101
	url = https://github.com/vineetsingh911/VineetSingh_Python101
[submodule "Assignments/Aakash_Python101"]
	path = Assignments/Aakash_Python101
	url = https://github.com/Aakash6028/Aakash_Python101
[submodule "Assignments/Pulkit_Python101"]
	path = Assignments/Pulkit_Python101
	url = https://github.com/pulkit2garg/Pulkit_Python101
[submodule "Assignments/joy_joseph_Python101"]
	path = Assignments/joy_joseph_Python101
	url = https://github.com/joy-joseph/joy_joseph_Python101
[submodule "Assignments/Rajan_PythonS101-day2"]
	path = Assignments/Rajan_PythonS101-day2
	url = https://github.com/Rajan123kumar/Rajan_PythonS101-day2
[submodule "Assignments/aman_Python101"]
	path = Assignments/aman_Python101
	url = https://github.com/aman1506/aman_Python101
[submodule "Assignments/python101_lawakesh"]
	path = Assignments/python101_lawakesh
	url = https://github.com/lawakesh23/python101_lawakesh
[submodule "Assignments/adil_python101"]
	path = Assignments/adil_python101
	url = https://github.com/adil0803/adil_python101
[submodule "Assignments/AkshayGupta_Python101"]
	path = Assignments/AkshayGupta_Python101
	url = https://github.com/akshayguptaa/AkshayGupta_Python101
[submodule "Assignments/phython01"]
	path = Assignments/phython01
	url = https://github.com/vivek201296/phython01
[submodule "Assignments/python101_manika"]
	path = Assignments/python101_manika
	url = https://github.com/manikabhutani/python101_manika
